$wipe-duration: 1s;
$wipe-delay: 10s;
$final-content-delay: 11s;
$height: 100px;

.square {
  width: 100px;
  height: $height;
  background: $secondary-color;
  position: relative;
  display: none;
}

.square1Animation {
  display: inline-block;
  animation: shrink 0.5s ease 2s 1 normal forwards,
    hide 0.1s linear $wipe-delay 1 normal forwards;
}

.square2Animation {
  display: inline-block;
  animation: shrink 0.5s ease 5s 1 normal forwards,
    hide 0.1s linear $wipe-delay 1 normal forwards;
}

.square3Animation {
  display: inline-block;
  animation: shrink 0.5s ease 8s 1 normal forwards,
    hide 0.1s linear $wipe-delay 1 normal forwards;
}

.text {
  width: 50vw;
  height: $height;
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  margin: 20px;
}

.textAnimation {
  animation: hide 0.1s linear $wipe-delay;
  animation-fill-mode: forwards;
}

.container {
  position: relative;
  height: $height;
}

.container1 {
  @extend .container;
  animation: drop 1s linear 0s, wipe $wipe-duration linear $wipe-delay;
  animation-fill-mode: forwards;
}

.container2 {
  @extend .container;
  opacity: 0%;
  animation: drop 1s linear 3s, wipe $wipe-duration linear $wipe-delay;
  animation-fill-mode: forwards;
}

.container3 {
  @extend .container;
  opacity: 0%;
  animation: drop 1s linear 6s, wipe $wipe-duration linear $wipe-delay;
  animation-fill-mode: forwards;
}

.finalcontent {
  opacity: 0%;
  animation: drop 1s linear $final-content-delay;
  animation-fill-mode: forwards;
}

.finaltext {
  @extend .text;
  height: auto;
  opacity: 0%;
  animation: show 1s linear $final-content-delay;
  animation-fill-mode: forwards;
}

@keyframes drop {
  0% {
    top: 0px;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes shrink {
  0% {
    width: 100px;
  }
  100% {
    width: 10px;
    background: $secondary-color;
  }
}

@keyframes grow {
  0% {
    width: 10px;
  }
  100% {
    width: 100%;
    height: 10px;
    background: $secondary-color;
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes wipe {
  0% {
    left: 0%;
  }

  50% {
    left: 25%;
  }

  100% {
    left: 99%;
    height: 0px;
    opacity: 0;
  }
}
